/* OkArchive CSS */

body {
    background-color: rgb(40, 85, 162);
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

#body {
    background-color: white;
    padding: 1em;
    margin: 1em 2em;
}

h1 {
    font-weight: normal;
}